body {
  font-family: verdana, arial, helvetica, sans-serif;
}

reddit-article {
  padding: 10px;
}

article {
  display: table-row;
}

article div {
  display: table-cell;
}

article div.votes {
  width: 50px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  background-color: #ddd;
  border: 1px solid black;
  border-right: 0;
}

article div.main {
  border: 1px solid black;
  padding: 0 10px;
  width: 400px;
}

article h2 {
  font-weight: normal;
  font-size: medium;
  margin: 0;
}

article h2 span {
  font-size: small;
  color: #bbb;
}

article ul {
  display: table-row;
}

article li {
  display: table-cell;
  list-style-type: none;
}

article li a {
  font-size: small;
  text-decoration: none;
  border-right: 1px solid #ccc;
  padding: 0 3px;
}

article li:last-child a {
  border-right: 0;
}

section.new-link {
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  background-color: #cee3f8;
}

div.control-group {
  margin-bottom: 10px;
}

div.control-group label {
  display: block;
  width: 50px;
  text-align: right;
  margin-right: 10px;
}

div.control-group div {
  display: table-cell;
}

div.control-group input {
  width: 400px;
  font-size: medium;
  padding: 3px;
}
